<div class="row">
    <div class="small-5 small-centered columns">
<%= form_tag session_path do %>
      <%= label_tag :username, "Usuario" %>
      <%= text_field_tag :username %>
      <%= label_tag :password, "Password" %>
      <%= text_field_tag :password %>
      <%= submit_tag "Ingresar" %>
<% end %>
<%= link_to "Registrarse", new_user_path %>
    </div>
</div>
