<div class="large-9 columns push-3">
    <div class="row">
        <div class="large-12 columns">
        <%= form_for @tweet do |tweet| %>
            <%= render 'shared/error_messages', :object => @tweet %>
            <%= tweet.label :text, "Ingrese el tweet" %><br/>
            <%= tweet.text_area :text %>
            <%= submit_tag "Guardar", {:name => "confirm", :class=>"tiny button" } %>
            <%= submit_tag "Cancelar", {:name => "cancel", :class=>"tiny button" } %>
        <% end %>
        </div>
    </div>
</div>