<%= form_for @user, :html => { :multipart => true } do |user| %>
    <%= render "shared/error_messages", :object => @user %>
    <p>
      <%= user.label :name, "Nombre" %><br/>
      <%= user.text_field :name %>
    </p>
    <p>
      <%= user.label :surname, "Apellido" %><br/>
      <%= user.text_field :surname %>
    </p>
    <p>
      <%= user.label :email %><br/>
      <%= user.text_field :email %>
    </p>
    <p>
      <%= user.label :username, "Nombre de usuario" %><br/>
      <%= user.text_field :username %>
    </p>
    <p>
      <%= user.label :password, "Contraseña" %><br/>
      <%= user.text_field :password %>
    </p>

    <p>
      <%= user.label :about_me, "Informacion acerca de usted" %><br/>
      <%= user.text_field :about_me %>
    </p>
    <p>
      <%= user.file_field :picture %>
    </p>
    <p>
      <%= submit_tag "Registrarse" %>
    </p>
<% end %>
